@font-face {
    font-family: 'Kurye Light Italic';
    src: url('../assets/Kurye-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kurye Light';
    src: url('../assets/Kurye-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}