@font-face {
    font-family: 'Kurye Light Italic';
    src: url('../../assets/fonts/Kurye-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kurye Light';
    src: url('../../assets/fonts/Kurye-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selino Regular';
    src: url('../../assets/fonts/Selino Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selino Italic';
    src: url('../../assets/fonts/Selino Italic.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paris';
    src: url('../../assets/fonts/SSParis.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateX(-50%) translateY(0px);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-delayed {
    animation: fade-in 0.8s ease-out 0.3s forwards;
    opacity: 0;
}

.animate-slide-up {
    animation: slide-up 1s ease-out forwards;
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}